.gambar{
    cursor: pointer;
    max-width: 100%;
    height: auto;
    
}

.checked {
    color : orange;
    max-width: 100%;
    height: auto;
}

.harga{
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 1.2vw;
}

.nama{
    font-style: italic;
    font-size: 1.2vw;
}

.keranjang {
    background-color: green;
    background-size: 100%;
    background-position: center;
    padding: 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    max-width: 100%;
    height: auto;
}

.bawah{
    background-color: white;
    max-width: 100%;
    height: auto;

}